.footer-container {
    background-color: black; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
    z-index: 33;
    margin-top: auto;
  }