* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.coverContainer {
    width: 100%;
    overflow: hidden;
    
}

.cover {
    background-image: url('../../public/moss.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    border-bottom: black solid;
    overflow: hidden;
}

.name {
    margin-bottom: 10vh;
}

.hi {
    font-size: 7vw;
    color: white;
}

.idContainer {
    width: 100%;
    height: 85vh;
    display: grid;
    position: relative;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Replace colors with your desired gradient */
    z-index: 1;
    grid-template-columns: 1fr 2.5fr;
}

.justin {
    /* height: 50vh; */
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.photo {
    /* height: 50vh; */
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.photoContainer {
    border-radius: 50%;
    overflow: hidden;
    width: 50%;
    height: auto;
    @media screen and (max-width: 1000px) {
        width: 90%;
    }
}

.photoContainer img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}

.icons {
    padding: 20px;
    margin: 20px;
}

.textContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.world {
    font-size: 4vw;
}

.emphasis {
    font-weight: 1000;
    font-size: 3/1vw;
    font-style: oblique;
}

.aboutmeText {
    font-weight: 400;
    font-size: 1/2vw;
}

.colorfulWorld {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0);
    background: linear-gradient(45deg, #3498db, green, green, #f39c12);
    color: transparent;
    -webkit-background-clip: text;
    transition: transform 0.5s ease;
    transform: translateX(20px) translateZ(0);
}

.colorfulWorld:hover {
    transform: translateX(10px) translateZ(0);
}

.hand {
    width: 10vw;
    position: relative;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}