* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.allContainer {
    padding-top: 68px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(20deg, #ccc, #fff);;
}

.titleContainer{
    padding: 30px;
    padding-top: 50px;
}

.actualTitle {
    font-family: "whyte";
    line-height: 44px;
}

.resContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 140vh;
}

.cardContainer {
    width: 90vw;
    height: auto;
    display: flex;
    border-top:black solid;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    gap: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: min-content;
    margin: 40px;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr 1fr 0fr;
        margin: 0px;
    }
}

.firstC {
    grid-column: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-right: black solid;
}

.firstTitle {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: min-content;
    text-align: center;
}

/* .title {
    font-size: 2vw;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
} */

.projectTitle {
    color: red;
    @media screen and (max-width: 600px) {
        font-size: 15px;
    }
}

.skillButton {
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: 'Poppins', sans-serif;
    color: black; 
    font-weight: bolder;
    font-size: 10px;
    height: 35px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    align-items: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    padding: 1px 5px;
    border: black solid;
}

.secondC {
    grid-column: 2;
    overflow: hidden;
    height: min-content;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    padding: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 1vw; 
    }
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}

.thirdC {
    grid-column: 3;
    overflow: hidden;
    position: relative;
    /* padding: 20px; */
}

.thirdC img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .4s;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

.thirdC img:hover {
    transform: scale(1.1);
}

/* hover link trasnition */

#hover {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
  }
#hover:hover {
    box-shadow: inset 1000px 0 0 0 #54b3d6;
    color: white;
}